.header {
	width: 24.9vw;
	height: 8vh;
  display: flex;
	justify-content: space-around;
	border: 1px solid #4FE7B0;
}

.header-item {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#item-icon {
	display: flex;
	align-items: center;
	color: #4FE7B0;
  height: 30px;
  width: auto;
}
.item-text {
	font-size: 13px;
}