.stock-profile-wrapper {
  display: flex;
  height: 100%; 
  align-items: center;  
}

.stock-img-box {

  background-color: #8C8C8C;
  border-radius: 100%;
  overflow: hidden; 
}

.stock-img-box-mid {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.stock-img-box-small {
  flex-shrink: 0;
  width: 30px; 
  height: 30px;
  margin-right: 6px; 
}

.stock-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.stock-info-wrapper {
  display: flex; 
  flex-direction: column;
}

.stock-name-small {
  font-size: 12px;
}

.stock-name-mid {
  font-size: 16px;
}

.stock-info-small {
  font-size: 8px; 
  color: #8C8C8C;
}

.stock-info-mid {
  font-size: 12px;
  color: #8C8C8C; 
}
