.container {
  width: 100%;
  height: 640px;
  margin: auto;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat-container {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  
}

/* 스크롤바의 폭 너비 */
.chat-container::-webkit-scrollbar {
  width: 10px;  
}

.chat-container::-webkit-scrollbar-thumb {
  background: rgba(79, 79, 79, 0.27);/* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.chat-container::-webkit-scrollbar-track {
  background: rgba(91, 91, 91, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.input-container {
  position: sticky;
  bottom: 20px;
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  margin-right: 10px;
  width: 80%;
  height: 48px;
  padding: 12px 0px 16px 16px;
  border: 0;
  outline: 0;
  resize: none;
  border-radius: 17px;
  background: #fafafa;
  box-shadow: 3.8px 3.8px 7.5px 0px rgba(212, 192, 192, 0.25);
  font-family: 'Open Sans';
  overflow-y: hidden;
  color: black;
}

.button-wrap {
  display: inline-flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: #4fe7b0;
  box-shadow: 3px 3px 12px 0px rgba(23, 195, 206, 0.35);
}

.animated-svg {
  display: inline-flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 .animated-svg circle {
  fill: none;
  stroke: #4fe7b0;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
