
.custom-tooltip {
    background-color: #33333356;
    color: #ffffff;
    padding: 10px;
    border:1px solid #4FE7B0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .tooltip-label {
    font-weight: bold;
    margin-left: 3px;
  }
  
  .tooltip-value {
    margin-left: 3px;
  }
  
  .tooltip-info {
    margin-top: 5px;
    font-style: italic;
  }
  