.main {
  padding: 4rem 5rem;
  min-height: 100vh;
}

.top-menu div {
  color: #4FE7B0;
}

.top-menu div:hover {
  font-weight: 550;
}

/* 주식 검색창 */

.stock-selected-box {
  height: 38px;
  width: 250px;
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  padding: 0 2%;

  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.stock-selected-box input{
  height: 30px;
  width: 85%;
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.stock-selected-box input:focus {
  outline: none;
}