/* CommunityNav*/

.login-title {
  font-size: 13px;
  font-weight: 550;
  margin: 5.5px 12px;
  color: white;
}

.login-icon {
  margin-top: 4px;
  color: #4FE7B0;
}

.login-subtitle {
  font-size: 11px;
  text-align: center;
  padding: 1px 3px 0 0;
  color: rgba(224, 224, 224, 0.849);
}

.login-subtitle span {
  font-weight: 550;
  color: #4FE7B0;
}

/* header */

.login-button {
  margin-left: 13px;
  width: 65px;
  background-color: transparent;
  color: #4FE7B0;
  border: 2px solid #4FE7B0;
  border-radius: 12px;
  margin-bottom: 1px;

  cursor: pointer;
}

.login-button:hover {
  border: 2.5px solid #4FE7B0;
  font-weight: 500;
}

.logout-button {
  margin-left: 13px;
  width: 80px;
  background-color: transparent;
  color: #4FE7B0;
  border: 2px solid #4FE7B0;
  border-radius: 12px;
  margin-bottom: 1px;

  cursor: pointer;
}

.logout-button:hover {
  border: 2.5px solid #4FE7B0;
  font-weight: 500;
}

.logo {
  margin-top: 12px;
}

.User {
  width: 60px;
  margin: 0 0 3px 0;
  color: #FFF;
  /* text-align: center; */
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 60px;
  display: flex;
  justify-content: center;
}

.profile-image {
  margin: 5px 0 5px 0;
  width: 37px;
  height: 37px;

  border-radius: 30%;
  background-color: white;
  overflow: hidden;
}
.profile-image:hover {
  width: 40px;
  height: 40px;
}

.profile-image-pic {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}