.card-container {
  display: block;
  /* min-width: 330px; */
  /* height: 451px; */
  border-radius: 4px;
  background-color: rgba(176, 176, 176, 0.107);
  margin-bottom: 55px;
  margin-right: 2.8%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  
  min-height: 150px;
  min-width: 330px;
  flex-basis: 150px;
  max-width: 350px;
  flex-shrink: 1;
  flex-grow: 1;

  border: 0.01rem solid #d9d9d90a;
}
.card-container:hover {
  transform: translate(-5px, -5px);
}

/* 이미지 영역 */
.image-container {
  width: 100%;
  height: 175px;

  margin: 0 auto;
  background-color:#d9d9d96f;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-in-out;
}

.image-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* title 영역 */
.title-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 13px;
}

.title-left {
  /* width: 90%; */
}

.stock-box {
  width: 100%;
  display: flex;
}

.stock-box:hover {
  font-weight: 550;
}

.stock-img {
  border-radius: 100%;
  margin: 4px 6px 0 0;
}

.stock-name {
  font-size: 17px;
  margin: 3px 0 0 0;
}

.stock-id {
  font-size: 15px;
  color: #d9d9d9a8;

  padding: 5px 0 0 0;
  margin: 0 0 0 5px;
}

.title-right {
  /* width: 10%; */
  padding: 2% 0 0 3%;
}

.title {
  width: 100%;
  height: 30px;
  font-weight: 500;
  font-size: 18.5px;
  margin-top: 10px;
  padding: 0 15px;

  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.title:hover {
  font-weight: 550;
}

/* 내용 및 프로필 영역 */
.content-container {
  padding: 7px 15px;
  height: 120px;
  width: 100%;
}

.content-container:hover {
  font-weight: 550;
}

.content {
  height: 90px;
  width: 100%;
  font-size: 13.5px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.818);

  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.content-bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.profile-container {
  display: flex;
}

.profile-container:hover {
  font-weight: 450;
}

.profile-img {
  border-radius: 100%;
  margin: 0 5px 5px 0;
}

.time {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.818);
  padding: 5px 0 0 0;
}

.bottom-container {
  padding: 0 16px;
  margin: 10px 0;
  display: flex;
}

.icons-container {
  display: flex;
  font-size: 15px;
  margin-left: auto;
}

.icons-container div{
  display: flex;
  font-size: 15px;
}
 
.icons-container p {
  margin: 0;
  margin-right: 5px;
  margin-left: 3px;
}

.tag-container {
  display: flex;
  width: 60%;
}

.tag-container div {
  border-radius: 50px;
  font-size: 13px;
  height: 25px;
  padding: 0 8px;
  padding-top: 1px;
  background-color: #4fe7af4f;
  margin-right: 6px;
}