.main {
  padding: 5rem;
  min-height: 100vh;
  min-width: 900px;
}

.user-info-box {
  display: flex;
  height: 155px;
  /* border: 1px dotted red; */
}

.profile-box {
  display: block;
  width: 140px;
  height: 100%;
}

.profile-box div {
  width: 115px;
  height: 115px;
  background-color: white;
  border-radius: 100%;
  margin: 0 auto;
  
}

.edit-button {
  width: 70px;
  height: 30px;
  border: 0;
  background-color: transparent;
  color: #4FE7B0;
  font-size: 20px;
  cursor: pointer;
}

#img-edit {
  margin-top: 10px;
  margin-left: 35px;
}

.nickname-box {
  margin-left: 10px;
  width: 400px;
}

.user-nickname-box {
  margin-left: 18px;
  margin-bottom: 5px;
}

#nickname-hello {
  font-size: 22px;
  font-weight: 600;
}

#nickname-curr {
  font-size: 45px;
  font-weight: 700;
}

.user-middle-box {
  height: 155px;
  margin: 30px 0;

  display: flex;
  justify-content: space-between;

  /* border: 1px dotted red; */
}

.email {
  width: 47%;
  /* border: 1px dotted red; */
}

.title-mini {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.email-box {
  height: 120px;
  width: 100%;
  padding: 20px 30px;

  border-radius: 15px;
  background: #0D1229;
  margin-top: 10px;
}

.email-box-content {
  /* border: 1px dotted whi te; */
}

#email-user {
  font-size: 28px;
  font-weight: 600;
}

#email-managedby {
  color: #4FE7B0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

.activity {
  width: 47%;
  /* border: 1px dotted red; */
}

.activity-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

.activity-box {
  width: 46%;
  height: 120px;
  border-radius: 16px;
  background: var(--primary-blue, #E3F5FF);

  border: 1px dotted violet;
  color: var(--black-100, #1C1C1C);
}

.activity-box-content {
  height: 80%;
  padding: 17px 21px;
  width: 90%;
  margin: 10px auto;
}

.activity-title {
  font-size: 17px;
  font-weight: 600;
}

.activity-box-figure {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.activity-figure-left {
  font-size: 32px;
  font-weight: 700;
}

.activity-figure-right {
  font-size: 15px;
  font-weight: 400;

  padding: 15px 0 0 0;
}

#activity-second {
  background: var(--primary-purple, #E5ECF6);
}

.user-analysis-box {
  height: 230px;
  margin: 40px 0;

  display: flex;
  justify-content: space-between;
}

.first-analysis {
  width: 47%;
  border: 1px dotted red;
}

.second-analysis {
  width: 47%;
  border: 1px dotted red;
}