.Notetab-head {
	display: flex;
	margin: 10px;
}
.Notetab-create {
	display: flex;
	justify-content: right;
	align-items: center;
	font-size: 13px;
}
.Notetab-create-icon {
	height: 20px;
	width: 20px;
	margin-bottom: 3px;
	margin-left: 3px;
	color: aquamarine;
	/* size: 20px; */
}

.pagination {
	display: flex;
	justify-content: center;
}
.pagebuttonbox {
	margin: 10px;
	color: aquamarine;
	background-color: transparent;
	/* border-radius: 5px; */
	/* border: 1px solid #4FE7B0; */
	border: none;
	box-shadow: 'none';
	cursor: pointer;
}
.no-notes {
	margin: 20px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
