.comment-container {
  padding: 10px 0 10px 0;
  margin: 5px 0;
  border-bottom: 0.1rem solid gray;
}

.comment-container pre {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.profile {
  display: flex;
  padding: 0 6px;
}

.profile div {
  margin-right: 8px;
}

.profile-img {
  /* width: 25px;
  height: 25px;
  background-color: #d9d9d96f; */
  border-radius: 100%;
  margin-right: 6px;
}

.profile-name:hover {
  /* text-decoration: underline; */
  font-weight: 500;
  cursor: pointer;
}

.time {
  color: #8C8C8C;
  font-size: 14px;
  padding: 3px 0 0 0;
}

/* 댓글 */
.content {
  padding: 10px;
  margin: 10px 0 10px 28px;
}

/* 좋아요, 대댓글 */
.icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 0 0 28px;
}

.reply-toggle-icon {
  margin: 2px 0 0 5px;
}

.icons-div {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.icons-div-div {
  display: flex;
  justify-content: start;
  width: 125px;
  height: 40px;
  border: 1px solid #d9d9d96f;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 7px 10px 7px 20px;
  cursor: pointer;
}

.icons-div-div:hover {
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #d9d9d96f;
}

.icons-div-p {
  margin: 0;
  /* margin-left: 7px; */
}

/* 대댓글 박스 */
.cocomment-box {
  /* display: flex; */
  width: 100%;
  padding: 0 0 0 10px;
}

.cocomment-input {
  width: 100%;
  padding: 10px 0 10px 0;
  margin-left: 19px;
}

.reply-add-button {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d96f;
  width: 160px;
  text-align: center;
  border-radius: 14px;
  padding: 5px;
  margin-left: 8px;
}

.reply-add-button:hover {
  font-weight: 550;
  /* border: 2px solid #d9d9d96f; */
}

.reply-add-icon {
  margin-top: 3px;
  margin-right: 8px;
}

.rotate-icon {
  transform: rotate(180deg);
  transform-origin: center; 
}

.icons-reply {
  display: flex;
  width: 130px;
  height: 40px;
  margin-left: 36px;
  /* border: 1px solid #d9d9d96f; */
  /* border-radius: 14px; */
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 7px 10px 7px 20px;
  cursor: pointer;
}

.icons-reply:hover {
  font-weight: 550;
  text-decoration: underline;
  /* border: 2px solid #d9d9d96f; */
}

.like-icon {
  margin-right: 3px;
}