.comment-container {
  padding: 10px 0 10px 0;
}

.profile {
  display: flex;
  padding: 0 6px;
}

.profile div {
  margin-right: 8px;
}

.profile-img {
  width: 25px;
  height: 25px;
  background-color: #d9d9d96f;
  border-radius: 100%;
  margin-right: 6px;
}

.profile-name:hover {
  /* text-decoration: underline; */
  font-weight: 500;
  cursor: pointer;
}

.time {
  color: #8C8C8C;
  font-size: 14px;
  padding: 3px 0 0 0;
}

/* 댓글 */
.content {
  padding: 10px;
  margin: 10px 0 10px 28px;
}

/* 좋아요, 대댓글 */
.icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 0 0 28px;
}

.icons div {
  display: flex;
  width: 126px;
  height: 40px;
  border: 1px solid #d9d9d96f;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  padding: 7px 10px 7px 20px;
  cursor: pointer;
}

#like {
  width: 132px;
}

#like:hover {
  font-weight: 500;
  cursor: pointer;
  border: 1.6px solid #d9d9d96f;
}

#cocomment:hover {
  font-weight: 500;
  cursor: pointer;
  border: 1.6px solid #d9d9d96f;
}

.icons div p {
  margin: 0;
  margin-left: 7px;
}

/* 대댓글 박스 */
.cocomment-box {
  display: flex;
  width: 100%;
  padding: 0 0 0 10px;
}

.cocomment-input {
  width: 100%;
  padding: 10px 0 10px 0;
  margin-left: 19px;
}