.top-menu {
  display: flex;
  justify-content: space-between;
}

.top-menu p {
  font-size: 22px;
  font-weight: 550;
}

.top-menu div {
  display: flex;
}

.privacy-icon {
  margin-top: 17px;
  margin-right: 7px;
}

.check-privacy {
  margin-right: 10px;
  display: flex;
}

.submit-button {
  width: 135px;
  height: 40px;
  border: 2px solid #d9d9d96f;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}

.submit-button:hover {
  border: 2.5px solid #d9d9d96f;
  font-weight: 550;
}

/* 주식 검색창 */
.search-stock-box {
  height: 38px;
  width: 250px;
  margin-bottom: 10px;
}

.stock-selected-box {
  height: 38px;
  width: 250px;
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  padding: 0 2%;

  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.stock-selected-box input{
  height: 30px;
  width: 85%;
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.stock-selected-box input:focus {
  outline: none;
}

.selected-stock-box {
  width: 300px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);

  margin-bottom: 10px;
}

.selected-stock {
  display: flex;
  padding: 4px;
}

.stock-name {
  margin-top: 2px;
}

.stock-id {
  margin-left: 5px;
  font-size: 15px;
  padding-top: 3px;
  color: #b3b3b3;
}

.search-stock-button {
  width: 70px;
  height: 30px;
  margin-right: 13px;
  margin-top: 2px;
  font-size: 12px;
  border: 1px solid #b3b3b3;
  border-radius: 14px;
}

.search-stock-button:hover {
  border: 2px solid #b3b3b3;
  font-weight: 550;
}

.stock-img {
  border-radius: 100%;
  margin: 2px 6px 4px 10px;
}

.stock-input-box {
  height: 38px;
  width: 250px;
  color: white;
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  padding: 0 2%;

  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.stock-input-box:focus {
  outline: none;
}

.option {
  display: flex;
  margin: 5px 0 5px 50px;
}

.option div {
  padding: 7px 6px 0 0;
}

#quantity {
  margin-left: 30px;
}

.date-pick-box {
  display: flex;
  margin: 0 0 20px 0;
}

/* date picker */

.datePicker {
  margin-left: 20px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  width: 100%;
  height: 38px;
  color: white;
  text-align: center;
  padding-right: 14px;
  cursor: pointer;
  font-size: 15px;
}

/* .datePicker:focus {
  outline: none;
} */

.calenderWrapper {
  background-color: rgb(57, 57, 57);
}

.invest-container {
  display: flex;
}

.invest-box {
  margin: 15px 15px 15px 0;
}

.selectedDay,
.unselectedDay {
  color: white;
  padding: 3px 1px 0 0;
  width: 36px;
  height: 36px;
}

.selectedDay {
  background-color: #4FE7B0;
  border-radius: 50%;
}

.selectedDay:hover {
  border-radius: 50%;
  background-color: #c27101;
}


.unselectedDay:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.255);
}

/* 제목 입력 box */
.title-input-box {
  height: 60px;
}

.title-input-box input {
  background-color: #00051E;
  border: 0;
  height: 50px;
  width: 100%;

  font-size: 30px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.362);
}

.title-input-box input:focus {
  outline: none;
}


/* 이미지 영역 */
.image-add-container {
  height: 180px;
}

.image-add-button {
  border: 1px solid #d9d9d96f;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  width: 195px;
  height: 43px;
  cursor: pointer;
  padding: 8px 12px 7px 18px;

  display: flex;
}

.image-title {
  margin-right: 15px;
  display: flex;
  height: 30px;
}

.image-title p {
 margin: 0 0 0 5px;
 font-size: 18px;
}

.dropzone {
  width: 100%;
  height: 120px;
  border: 1.0px dashed #ccc;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.255);
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.614);
}

.dropzone div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.dropzone p {
  margin: 11px 0 0 0;
  font-size: 14px;
  font-weight: 550;
}

.image-add-button:hover{
  font-weight: 550;
  border: 1.8px solid #d9d9d96f;
}

.image-list {
  display: flex;
  width: 100%;
  /* height: 145px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.496);

  margin-bottom: 15px;
  position: relative;
}

.length {
  position: absolute;
  right: 0px;
  bottom: 5px;
}
