.stock-input-box {
  height: 38px;
  width: 250px;
  color: white;
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  padding: 0 2%;

  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.stock-input-box:focus {
  outline: none;
}

.option {
  display: flex;
  margin: 5px 0 5px 50px;
}

.option div {
  padding: 7px 6px 0 0;
}

#quantity {
  margin-left: 30px;
}

.date-pick-box {
  display: flex;
  margin: 0 0 20px 0;
}

/* date picker */

.datePicker {
  margin-left: 20px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  width: 100%;
  height: 38px;
  color: white;
  text-align: center;
  padding-right: 14px;
  cursor: pointer;
  font-size: 15px;
}

/* .datePicker:focus {
  outline: none;
} */

.calenderWrapper {
  background-color: rgb(57, 57, 57);
}

.invest-container {
  display: flex;
}

.invest-box {
  margin: 15px 15px 15px 0;
}

.selectedDay,
.unselectedDay {
  color: white;
  padding: 3px 1px 0 0;
  width: 36px;
  height: 36px;
}

.selectedDay {
  background-color: #4FE7B0;
  border-radius: 50%;
}

.selectedDay:hover {
  border-radius: 50%;
  background-color: #c27101;
}


.unselectedDay:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.255);
}

/* 제목 입력 box */
.title-input-box {
  height: 60px;
}

.title-input-box input {
  background-color: #00051E;
  border: 0;
  height: 50px;
  width: 100%;

  font-size: 30px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.255);
}

.title-input-box input:focus {
  outline: none;
}


/* 이미지 영역 */
.image-add-container {
  height: 180px;
}

.image-add-button {
  border: 1px solid #d9d9d96f;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  width: 195px;
  height: 43px;
  cursor: pointer;
  padding: 8px 12px 7px 18px;

  display: flex;
}

.image-add-button:hover {
  font-weight: 550;
  border: 1.8px solid #d9d9d96f;
}

.image-title {
  margin-right: 15px;
  display: flex;
  height: 30px;
}

.image-title p {
 margin: 0 0 0 5px;
 font-size: 18px;
}
