.main {
  padding: 3rem;
  /* min-height: 100vh; */
  /* width: 1340px; */
  width: calc(100vw - 200px);
  min-width: 1024px;
}

.Button-width {
  width: 118px;
  height: 37px;
}

.landing-main-container {
  position: relative;
  height: 350px;
  margin: 0 auto;
  margin-top: 20px;
  /* border: 1px dotted red; */
}

.title-main-container {
  /* border: 1px dotted violet; */
  padding: 35px 0 0 40px;
}

.sub-title-container {
  margin: 5px 0 30px 0;
  color: rgba(255, 255, 255, 0.816);
  font-size: 14px;
}

.sub-title-container div {
  margin-bottom: 4px;
}

.title-animation {
  opacity: 0;
  transform: translateY(25px); /* 시작 위치에서 아래로 숨김 */
  animation: slide-up 1s ease forwards; /* @keyframes 애니메이션 적용 */
}

@keyframes slide-up {
  to {
      opacity: 1;
      transform: translateY(0); /* 올라오는 위치 */
  }
}

.title-mini {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.title span {
  color: #1DE9B6;
}

.description {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;

  margin-top: 20px;
  margin-bottom: 30px;
}

.content-box {
  margin-top: 18rem;
  margin-left: 1.3rem;
  width: 450px;
}

.title-botton-box {
  display: flex;
  justify-content: space-between;
  
  width: 250px;
  margin-top: 20px;

  opacity: 0;
  transform: translateY(25px); /* 시작 위치에서 아래로 숨김 */
  animation: slide-up 2s ease forwards; /* @keyframes 애니메이션 적용 */
}

.landing-main-image {
  /* background-color: rgba(128, 128, 128, 0.196); */
  top: 0;
  right: 2rem;

  position: absolute;
}

.landing-containers {
  height: 480px;
  padding: 10px;

  margin-bottom: 110px;
}

.landing-containers-num {
  width: 275px;
  height: 240px;
  color: rgba(255, 255, 255, 0.35);
  font-size: 250px;
  font-weight: 700;
  line-height: 450px;
  
  position: absolute;
  /* border: 1px dotted green; */
}

.chart {
  width: 100%;
  height: 300px;
  /* background-color: #79797957; */
}

.line {
  fill: none;
  stroke: #4FE7B0;
  stroke-width: 7;
}

/* note Carousel title 스타일 */
.sorted-note-box {
  /* padding: 0 0 0 35px; */
  margin-top: 45px;
}

.sorted-note-title {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
}

.cards-box {
  width: 100%;
  border: 1px dotted violet;
}

.sorted-note-title span {
  display: flex;
  font-size: 17px;
  padding-top: 20px;
  margin-left: 10px;
  font-weight: 550;
  cursor: pointer;
}

.sorted-note-icon {
  margin-top: 5px;
}

.sorted-note-title span:hover {
  color: #4FE7B0;
}

.mynote-out-box {
  /* width: 100%; */
  height: 120px;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.255);
  border-radius: 14px;
  color: white;
  margin-top: 10px;

  /* border: 1.0px solid #ccc; */
}

.login-box {
  display: flex;
  border-radius: 14px;
  background-color: rgba(94, 94, 94, 0.781);
  width: 100px;
  margin: 0 auto;
  margin-top: 8px;
  padding: 3px 15px;
}

.login-icon {
  margin-top: 3px;
  margin-left: 3px;
}

.carousel-container {
  width: 100%;
}