.main {
  padding: 5rem;
  min-height: 100vh;
}

.Button-width {
  width: 118px;
  height: 37px;
}

.landing-main-container {
  height: 350px;
  margin-top: 20px;
}

.title-animation {
  opacity: 0;
  transform: translateY(25px); /* 시작 위치에서 아래로 숨김 */
  animation: slide-up 1s ease forwards; /* @keyframes 애니메이션 적용 */
}

@keyframes slide-up {
  to {
      opacity: 1;
      transform: translateY(0); /* 올라오는 위치 */
  }
}

.title-mini {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.title span {
  color: #1DE9B6;
}

.description {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;

  margin-top: 20px;
  margin-bottom: 30px;
}

.content-box {
  margin-top: 18rem;
  margin-left: 1.3rem;
  width: 450px;
}

.title-botton-box {
  display: flex;
  justify-content: space-between;
  
  width: 250px;
  margin-top: 20px;

  opacity: 0;
  transform: translateY(25px); /* 시작 위치에서 아래로 숨김 */
  animation: slide-up 2s ease forwards; /* @keyframes 애니메이션 적용 */
}

.landing-main-image {
  /* background-color: rgba(128, 128, 128, 0.196); */
  width: 780px;
  height: 380.522px;
  top: 11.5rem;
  right: 6rem;

  position: absolute;
}

.landing-containers {
  height: 480px;
  padding: 10px;

  margin-bottom: 110px;
}

.landing-containers-num {
  width: 275px;
  height: 240px;
  color: rgba(255, 255, 255, 0.35);
  font-size: 250px;
  font-weight: 700;
  line-height: 450px;
  
  position: absolute;
  /* border: 1px dotted green; */
}

.chart {
  width: 100%;
  height: 300px;
  /* background-color: #79797957; */
}

.line {
  fill: none;
  stroke: #4FE7B0;
  stroke-width: 7;
}