.main {
  /* background-color: #00051E;
  color: white; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 900px;
}

.community-container {
  display: flex;
}

.community-nav {
  width: 200px;
  border-right: 2px solid #4FE7B0;
  padding-bottom: 135px;
}

.community-nav-sticky {
  position: sticky;
  top: 10px;
  width: 100%;
  height: 400px;
  border-top: 1px solid #4FE7B0;
}

.community-content {
  top: 56px;

  width: 100%;
}