.main {
  padding: 5rem;
  min-height: 100vh;
}

.upper-title {
  font-size: 25px;
  font-weight: 400;

  margin-left: 5px;
  margin-bottom: 3px;
}

.page-title {
  font-size: 48px; 
  font-weight: 700;
}

.all-button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.sort-button-box {
  display: flex;
}

.sorted-Button-width {
  width: 130px;
  height: 37px;
  margin-right: 20px;
}

#ordered {
  width: 110px;
  margin-right: 0;
}