.main {
  padding: 4rem;
  min-height: 100vh;
  min-width: 900px;
}

.upper-title {
  font-size: 20px;
  font-weight: 400;

  margin-left: 5px;
  margin-bottom: 3px;
}

.page-title {
  font-size: 43px; 
  font-weight: 700;
}

.all-button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.all-buttons {
   display: flex;
}

.filter {
  width: 120px;
  border: 1px solid #d9d9d96f;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  padding: 7px 12px 7px 13px;
  cursor: pointer;
  margin-right: 10px;
}

.filter:hover {
  border: 1.5px solid #d9d9d9e0;
  font-weight: 600;
}

.selected-filter {
  width: 120px;
  border-radius: 14px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  padding: 7px 12px 7px 13px;
  cursor: pointer;
  margin-right: 10px;
  border: 1.5px solid #d9d9d9e0;
  font-weight: 600;
}

.stock-box {
  padding: 5px 0 0 0;
  width: 300px;
}

.stock-close {
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.23);
  text-align: center;

  margin: 10px 0 0 4px;
}

.close-icon {
  padding: 3px 0 0 4px;
}

.stock-close:hover {
  border: 1px solid rgba(255, 255, 255, 0.295);
}

.search-keyword-box {
  width: 400px;
  height: 36.5px;
  border-radius: 20px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.23);
  display: flex;
}

.search-keyword-box input {
  /* border: 1px dotted red; */
  background-color: transparent;
  width: 350px;
  margin-left: 5px;
  /* margin-top: 5px; */
  color: white;
}

.search-keyword-box input:focus {
  outline: none
}

.search-icon {
  margin-top: 8px;
  margin-left: 15px;
}

.search-form {
  display: flex;
}

.submit-button {
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.295);
  height: 30px;
  border-radius: 14px;
  padding-left: 5px;
  padding-top: 2px;
  margin: 5px 5px 0 0;
  cursor:pointer;
}

.submit-button:hover {
  border: 1.5px solid #d9d9d9e0;
}

.sort-button-box {
  display: flex;
  border: 1px dotted red;
  width: 50%;
}

.sorted-Button-width {
  width: 130px;
  height: 37px;
  margin-right: 20px;
}

.search-Button-width {
  width: 125px;
  height: 37px;
  margin-right: 20px;
}

#ordered {
  width: 110px;
  margin-right: 0;
}

.cards-container {
  width: 103.3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  margin: 35px 0 0 0;
}

.card {
  margin-right: 20px;
}

.card:not(:last-child) {
  margin-right: 10px; /* 마지막 아이템을 제외한 아이템들에게만 오른쪽 간격을 적용 */
}

/* 주식 검색창 */
.selected-stock-box {
  width: 300px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);

  margin-bottom: 10px;
}

.selected-stock {
  display: flex;
  padding: 4px;
}

.stock-name {
  margin-top: 2px;
}

.stock-id {
  margin-left: 5px;
  font-size: 15px;
  padding-top: 3px;
  color: #b3b3b3;
}

.search-stock-button {
  width: 70px;
  height: 30px;
  margin-right: 13px;
  margin-top: 4px;
  font-size: 12px;
  border: 1px solid #b3b3b3;
  border-radius: 14px;
}

.search-stock-button:hover {
  border: 2px solid #b3b3b3;
  font-weight: 550;
}

.stock-img {
  border-radius: 100%;
  margin: 2px 6px 4px 10px;
}