.liketab-title {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #5a5a5ada;
  display: flex;
  align-items: center;
}

.like-container {
  border-bottom: 1px solid #5a5a5ada;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.like-box {
  display: flex;
  padding: 0 10px;

  cursor: pointer;
}

.like-box p {
  width: 119px;
  height: 10px;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.like-name {
  width: 105px;
  margin: 0 0 0 10px;
}

.like-name div {
  height: 2px;
}

.like-button {
  cursor: pointer;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

#like-button-icon {
  color: #4FE7B0;
  margin-right: 5px;
  height: 25px;
  width: auto;
}

.like-search {
  width: 220px;
  margin-bottom: 15px;
}

.like-content {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;

}

.like-content-stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 250ms; 
}

.like-content-stock:hover {
  background-color: #646A89;
}

#delete-button {
  transition-duration: 250ms;
}

#delete-button:hover {
  color: #4FE7B0;

}