.container {
  width: 100%;
  height: 780px;
}

.like-header {
  border-bottom: 1px solid #5a5a5ada;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap; 
  text-overflow: ellipsis;
  /* height: 86px; */
}

.like-title {
  padding: 10px 0 8px 5px;
  border-bottom: 1px solid #5a5a5ada;
}

.like-button {
  padding: 10px 0 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#like-button-icon {
  color: #4FE7B0;
  margin-right: 5px;
  height: 25px;
  width: auto;
  flex-shrink: 0;
}

.like-search {
  width: 95%;
  margin: 0 auto 10px; 
}

.like-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 680px;
  margin: 0px;
  overflow-y: auto;
}

/* 스크롤바의 폭 너비 */
.like-content::-webkit-scrollbar {
  width: 10px;  
}

.like-content::-webkit-scrollbar-thumb {
  background: rgba(79, 79, 79, 0.27);/* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.like-content::-webkit-scrollbar-track {
  background: rgba(91, 91, 91, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.like-content .like-content-stock:first-of-type {
  margin-top: 10px;
}

.like-content-stock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 250ms; 
}

.like-content-stock:hover {
  background-color: #646A89;
}

#delete-button {
  flex-shrink: 0;
  transition-duration: 250ms;
}

#delete-button:hover {
  color: #4FE7B0;
}