.card-container {
  height: 340px;
  width: 250px;
  background-color: rgba(176, 176, 176, 0.107);
  
  border: 1px dotted red;
}

/* 이미지 영역 */
.image-container {
  width: 100%;
  height: 130px;

  margin: 0 auto;
  background-color:#d9d9d96f;
  border-radius: 2px;
}

/* title 영역 */
.title-container {
  display: flex;
  padding: 8px 13px;
}

.title-left {
  width: 90%;
}

.stock-box {
  display: flex;
}

.stock-img {
  width: 20px;
  height: 20px;
  background-color: #d9d9d96f;
  border-radius: 100%;
  margin-right: 8px;
}

.stock-name {
  font-size: 15px;
  margin: 3px 0 0 0;
}

.title-right {
  width: 10%;
  padding: 2% 0 0 3%;
}

.title {
  font-weight: 500;
  font-size: 15px;
  margin-top: 7px;
}

/* 내용 및 프로필 영역 */
.content-container {
  padding: 5px 9px;
  height: 85px;
}

.content {
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.818);
}

.content-bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.profile-container {
  display: flex;
}

.time {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.818);
  padding: 5px 0 0 0;
}

.bottom-container {
  padding: 0 10px;
  margin: 10px 0;
  display: flex;
}

.icons-container {
  display: flex;
  font-size: 15px;
  margin-left: auto;
}

.icons-container div{
  display: flex;
  font-size: 15px;
}

.icons-container p {
  margin: 0;
  margin-right: 4px;
  margin-left: 2px;
  font-size: 12px;
}

.tag-container {
  display: flex;
  width: 60%;
}

.tag-container div {
  border-radius: 50px;
  font-size: 10px;
  height: 17px;
  padding: 0 8px;
  padding-top: 1px;
  background-color: #4fe7af4f;
  margin-right: 6px;
}
