.buttons-container {
  margin: 0 2px;
}

.greeting-box {
  font-weight: 550;
}

.greeting {
  font-size: 19.5px;
}

.greeting-box div span {
  color: #4dd7a4;
  font-weight: 700;
}

.sub-greeting-box {
  color: rgba(207, 206, 206, 0.849);
  font-size: 12px;
  margin-top: 5px;
}

.social-login-button {
  width: 100%;
  height: 40px;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  /* border: 1px solid rgb(119, 119, 119); */
  border-radius: 5px;
  margin: 17px 2px;

  position: relative;
}

.social-login-button:hover {
  border: 1.5px solid rgba(119, 119, 119, 0.849);
}

#google-box {
  border: 0.01rem solid rgba(119, 119, 119, 0.375);
}

#google-box:hover {
  border: 1.5px solid rgba(119, 119, 119, 0.849);
}

.social-icon {
  position: absolute;
  width: 12%;
  height: 100%;
  border-right: 0.01rem dotted rgba(119, 119, 119, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 하단 사용자 설명 */

.statement {
  font-size: 11px;
  color: rgba(207, 206, 206, 0.849);
  margin-bottom: 15px;

}

.statement span {
  text-decoration: underline;
  cursor: pointer;
}

.statement span:hover {
  font-weight: 500;
}