.main {
  padding: 4rem 4rem;
  min-height: 100vh;
  min-width: 900px;
}

/* 상단 뒤로가기 버튼 */
.detail-back button {
  border: 0;
  display: flex;
  background-color: transparent;
  color: #4FE7B0;
  cursor: pointer;
}

.detail-back button:hover {
  font-weight: 550;
}

.detail-back button div {
  font-size: 16px;
}

/* 작성한 글 content 출력 */
.content-container {
  padding: 0 6px;
}

/* 작성자 프로필 및 스크랩 */
.detail-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.header-left {
  display: flex;
}

.profile {
  display: flex;
  padding-right: 6px;
}

.profile-img {
  /* width: 25px;
  height: 25px;
  background-color: #d9d9d96f; */
  border-radius: 100%;
  margin-right: 6px;
} 

.profile-name {
  font-size: 20px;
  font-weight: 550;
}

.time {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.818);
  padding: 7px 0 0 0;
}

.header-right {
  display: flex;
  cursor: pointer;
}

.header-right div {
  margin: 0 6px 10px 0;
}

/* 글 제목 영역 */
.detail-subheader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px 0;
}

.title {
  font-size: 40px;
  font-weight: 600;
}

.sub-Buttons {
  display: flex;
}

.sub-Buttons div {
  width: 100px;
  height: 35px;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
}

/* 주식 관련 정보 */
.stock-box {
  display: flex;
  margin-bottom: 23px;
}

/* 오답노트 태그 */
.tag-box {
  display: flex;
  margin-bottom: 15px;
}

.tag-box div {
  border-radius: 50px;
  font-size: 13.5px;
  height: 25px;
  padding: 0 8px;
  padding-top: 2px;
  background-color: #4fe7af4f;
  margin-right: 7px;
}

/* content 영역 ( 사진 + 내용 ) */
.content-box {
}

.img {
  padding: 5px;
  height: 400px;
  max-width: 1440px;
  background-color: #d9d9d96f;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

/* 하단 댓글 좋아요 공유 아이콘 */
.icons-container {
  display: flex;
  padding: 0 6px;
  margin-bottom: 20px;
  width: 150px;
  margin-left: auto;
}

.icons-container div {
  display: flex;
}

.icons-container div p {
  margin: 0;
  margin-right: 10px;
  font-size: 17px;
}

.icons {
  margin-right: 5px;
}

/* 댓글 작성 */
.commentinput-container {
  margin-bottom: 15px;
}

/* 댓글 view */
.commentview-container {
}