.user-info-box {
  display: flex;
  height: 155px;
  /* border: 1px dotted red; */
}

.profile-box {
  display: block;
  width: 140px;
  height: 100%;
}

.profile-box div {
  width: 115px;
  height: 115px;
  background-color: white;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}

.profile-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.edit-button {
  width: 70px;
  height: 30px;
  border: 0;
  background-color: transparent;
  color: #4FE7B0;
  font-size: 20px;
  cursor: pointer;
}

#img-edit {
  margin-top: 10px;
  margin-left: 35px;
}

.nickname-box {
  margin-left: 10px;
  width: 400px;
}

.user-nickname-box {
  margin-left: 18px;
  margin-bottom: 5px;
}

#nickname-hello {
  font-size: 22px;
  font-weight: 600;
}

#nickname-curr {
  font-size: 45px;
  font-weight: 700;
}