.user-info-box {
  display: flex;
  height: 155px;
  width: 650px; 
  /* border: 1px dotted red; */
}

.profile-box {
  display: block;
  width: 140px;
  height: 100%;
}

.profile-box div {
  width: 115px;
  height: 115px;
  background-color: white;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}

.profile-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.edit-button {
  width: 70px;
  height: 30px;
  border: 0;
  background-color: transparent;
  color: #4FE7B0;
  font-size: 20px;
  cursor: pointer;
}

.img-edit {
  width: 115px; 
  display: flex;
  justify-content: center; 
  margin: 10px auto 0px;
}

.nickname-box {
  margin-left: 10px;
  width: 500px;
}

.user-nickname-box {
  margin-left: 18px;
  margin-bottom: 5px;
}

.nickname-button-box {
  display: flex; 
  flex-wrap: wrap;
}

#nickname-hello {
  font-size: 22px;
  font-weight: 600;
}

#nickname-curr {
  font-size: 45px;
  font-weight: 700;
  margin-right: 30px;
}

.nickname-change-input {
  font-size: 45px;
  font-weight: 700;
  color: black

}

.cancel-button {
  width: 70px;
  height: 30px;
  border: 0;
  background-color: transparent;
  color: red;
  font-size: 20px;
  cursor: pointer;

}

.follow-button {
  background-color: transparent;
  color: #4FE7B0;
  cursor: pointer; 
  border-radius: 100%; 
}

.unfollow-button {
  background-color: transparent;
  color: red;
  cursor: pointer; 
  border-radius: 100%; 
}