.mainpage {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.components {
  display: flex;
  align-items: center;
  justify-content: center;
  width:900px;
}


.chart {
  display: flex;
  justify-content: center;
}

.like-container {
  display: flex;
  /* width: 100vw; */
  width: 15%;
}

.like-tab {
  width: 100vw;
  border-right: 1px solid #5a5a5ada;
}

.like-tab-sticky {
  position: sticky;
  top: 10px;
  width: 100%;
  height: 400px;
  /* border-top: 1px solid #4FE7B0; */
}

.like-content {
  top: 56px;

  width: 100%;
}

/* 사이드 탭 */
.side-container {
  width: 25%
}

.side-tab {
  width: 100vw;
  border-right: 1px solid #4FE7B0;
}