.mainpage {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.like-container {
  display: flex;
  width: 15%; 
  /* flex-basis: 15%;
  flex-grow: 1; */
  /* width: 100vw; */
  border-right: 1px solid #5a5a5ada;
  position: sticky;
  top: 10px;
}

.mid-container {
  flex-shrink: 0;
  width: 900px;
}


/* 사이드 탭 */
.side-container {
  width: 25%;
}

.side-tab {
  width: 100vw;
  border-right: 1px solid #4FE7B0;
}