.Note-preview-wrapper {
	border: 1px solid rgba(255, 255, 255, 0.51);
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	height: 110px;
  overflow-y: scroll;
	
}
.Note-preview-wrapper::-webkit-scrollbar {
	width: 10px;  
}

.Note-preview-wrapper::-webkit-scrollbar-thumb {
	background: rgb(79, 79, 79);/* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.Note-preview-wrapper::-webkit-scrollbar-track {
	background: rgba(91, 91, 91, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.Note-preview-head{
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}
.Note-preview-name {
	display: flex;
	font-size: 11px;
	align-items: center;
}
.Note-preview-name img {
	width: 30px; 
	height: 30px; 
	border-radius: 50%; 
	margin-right: 10px; 
  }

.Note-preview-date {
	font-size: 11px;
}
.Note-preview-title {
	display: flex;
	/* text-decoration: underline rgba(255, 255, 255, 0.51); */
	margin-bottom: 5px;
}
.Note-preview-content {
	display: flex;
	font-size: 11px;
}
.Note-preview-image img {
	width: 120px; 
	height: 80px; 
	border-radius: 10%; 
	/* margin-top: 5px;  */
}
.Note-preview-body {
	display: flex;
	justify-content: space-between;

}