.container{
  display: flex;
  justify-content: center;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  margin-top: 20px;
  /* background-color: #f0f0f0; */
}

.title-big {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 15px;
}
.page-button-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page-button {
  margin: 10px;
  color: aquamarine;
  background-color: transparent;
  /* border-radius: 5px; */
  /* border: 1px solid #4FE7B0; */
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.page-number {
  margin: 10px;
  color: aquamarine;
  background-color: transparent;
  border: none;
  cursor: pointer;
}